@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
body {
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 800px;;
    background: linear-gradient(to bottom right,  black, white) no-repeat;
}
i {
    font-family: FontAwesome;
}
section {
    width: 35%;
    height: 300px;
    margin: 200px auto;
    background-color: #e6e6e6;
    border-style: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

div#img {
    width: 25%;
}
div#form-container {
    width: 74%;
}

label {
    border-bottom: 3px solid black;
    margin: 7px 6px;
    width: 45%;
    display: inline-block;
}

input {
    width: 80%;
    margin: 5px;
    background-color: #e6e6e6;
    border-style: none;
}

input::-moz-placeholder {
    font-size: 12px;
    color: #636363;
    text-transform: uppercase;
}

form {
    position: relative;
}

button {
    font-size: 12px;
    padding: 7px 31px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    bottom: -35px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

h1 {
    text-transform: capitalize;
    margin: 10px 6px;
}

p {
    margin: 5px 6px;
    font-size: 13px;
}