@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

body {
    font-style: 16px "Roboto", Helvetica, sans-serif;
    color: #1E1917; 
    background-color: #cccccc;
}

header {
    background-color: #ffffff;
    border-top: 4px solid #1E1917;
    border-right: 4px solid #1E1917;
}
main {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

label {
    font-size: 14px;
    font-weight: 500;
}